:host {
    display: block;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 75%;
    margin: 0 auto;
    
    
  }
  
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }

  .regButon {
    float: right;
  }