<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h3>Se connecter</h3>
      <form [formGroup]="fg" (ngSubmit)="onSubmit()">
          <div class="form-group">
              Email : <input type="text" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
              Mot de passe : <input type="password" class="form-control" formControlName="password">
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="fg.invalid">Connexion</button>
      </form>
      <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>